.lightning {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    background: url('/bg.gif');
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: brightness(3);
    filter: brightness(3);
    -o-filter: brightness(3);
    -moz-filter: brightness(3);
    z-index: 10;
}

.flashit {
    -webkit-animation: flash ease-out 10s infinite;
    -moz-animation: flash ease-out 10s infinite;
    animation: flash ease-out 10s infinite;
    animation-delay: 2s;
}

@-webkit-keyframes flash {
    from {
        opacity: 0;
    }

    92% {
        opacity: 0;
    }

    93% {
        opacity: 0.4;
    }

    94% {
        opacity: 0.2;
    }

    96% {
        opacity: 0.6;
    }

    to {
        opacity: 0;
    }
}

@keyframes flash {
    from {
        opacity: 0;
    }

    92% {
        opacity: 0;
    }

    93% {
        opacity: 0.6;
    }

    94% {
        opacity: 0.2;
    }

    96% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}